src/com/freemindcafe/xml/xsd/CalendarAndTarrif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" 
elementFormDefault="qualified"
targetNamespace="http://www.example.org/DeviceConfiguration"
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
    <xs:complexType name="calendarAndTarrif">
      <xs:sequence>
        <xs:element name="Cnc">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cnt">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CalendarAndTarrif">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PCact">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Contrato1">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:short" name="TR1"/>
                                        <xs:attribute type="xs:short" name="TR2"/>
                                        <xs:attribute type="xs:short" name="TR3"/>
                                        <xs:attribute type="xs:short" name="TR4"/>
                                        <xs:attribute type="xs:short" name="TR5"/>
                                        <xs:attribute type="xs:short" name="TR6"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="ActDate"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PCLatent">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Contrato1">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:short" name="TR1"/>
                                        <xs:attribute type="xs:short" name="TR2"/>
                                        <xs:attribute type="xs:short" name="TR3"/>
                                        <xs:attribute type="xs:short" name="TR4"/>
                                        <xs:attribute type="xs:short" name="TR5"/>
                                        <xs:attribute type="xs:short" name="TR6"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="ActDate"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ActiveCalendars">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Contract" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="Season" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:byte" name="Name" use="optional"/>
                                              <xs:attribute type="xs:string" name="Start" use="optional"/>
                                              <xs:attribute type="xs:byte" name="Week" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Week" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:byte" name="Name" use="optional"/>
                                              <xs:attribute type="xs:long" name="Week" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Day" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Change" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="Hour" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="TariffRate" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="id" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="c" use="optional"/>
                                    <xs:attribute type="xs:byte" name="CalendarType" use="optional"/>
                                    <xs:attribute type="xs:string" name="CalendarName" use="optional"/>
                                    <xs:attribute type="xs:string" name="ActDate" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LatentCalendars">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Contract" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="Season" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:byte" name="Name" use="optional"/>
                                              <xs:attribute type="xs:string" name="Start" use="optional"/>
                                              <xs:attribute type="xs:byte" name="Week" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Week" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:byte" name="Name" use="optional"/>
                                              <xs:attribute type="xs:long" name="Week" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Day" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Change" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="Hour" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="TariffRate" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="id" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="c" use="optional"/>
                                    <xs:attribute type="xs:byte" name="CalendarType" use="optional"/>
                                    <xs:attribute type="xs:string" name="CalendarName" use="optional"/>
                                    <xs:attribute type="xs:string" name="ActDate" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Fh"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
     
    </xs:complexType>
  
</xs:schema>